@model CRUD.Models.UpdatedEmployeeViewModel
@{
}
<h1>Edit Employee</h1>
<form method="post" action="View">
    <div class="mb-3">
        <label for="name" class="form-label">Id</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="salary" placeholder="Enter salary" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department" placeholder="Enter department" asp-for="Department">
    </div>
    <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" asp-for="DateOfBirth">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>